@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0px 10px;
  margin: 0;
  background-color: hwb(290 98% 0%);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 100%;
  margin: auto;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
